<div class="filters">
  <!-- Search -->
  <input
    type="text"
    placeholder="Táborok keresése..."
    class="filter-input"
    (input)="onSearch($event.target.value)"
  />

  <!-- Year filter -->
  <select class="filter-input" (change)="year.set($any($event.target).value)">
    <option value="">Minden év</option>
    @for (y of availableYears(); track y) {
    <option [value]="y">{{ y }}</option>
    }
  </select>

  <!-- Duration filter -->
  <select
    class="filter-input"
    (change)="duration.set($any($event.target).value)"
  >
    <option value="">Összes időtartam</option>
    <option value="1">1 napos</option>
    <option value="2">2 napos</option>
    <option value="3">3 napos</option>
  </select>

  <select class="filter-input" (change)="sort.set($any($event.target).value)">
    <option value="">Rendezés...</option>

    <option value="startDate">Dátum szerint ↑</option>
    <option value="-startDate">Dátum szerint ↓</option>

    <option value="title">Cím A → Z</option>
    <option value="-title">Cím Z → A</option>

    <option value="order">Sorrend ↑</option>
    <option value="-order">Sorrend ↓</option>
  </select>
</div>

<div class="toggle-container">
  @if (!showingAll()) {
  <button class="btn btn--green" (click)="loadAllTours()">
    Összes megjelenítése
  </button>
  } @else {
  <button class="btn btn--grey" (click)="loadLast3()">
    Csak az utolsó 3 megjelenítése
  </button>
  }
</div>

<div class="card-container">
  @for (tour of filteredTours(); track tour.order; let i = $index) {
  <app-tour-card [tour]="tour" [priority]="i === 0" />
  }
</div>
