<!-- Global container -->
<div class="flex items-center justify-center min-h-screen">
  <!-- Card container -->
  <div
    class="relative flex flex-col m-6 space-y-10 shadow-2xl rounded-2xl md:flex-row md:space-y-0 md:m-0 overflow-hidden"
  >
    <!-- Left side -->
    <div class="p-6 md:p-20">
      <!-- Top content -->
      <h2 class="font-rokkitt mb-5 text-4xl font-bold">Regisztráció</h2>
      <p class="max-w-sm mb-12 font-mulish font-light text-gray-600">
        Registrálj és sok kincset fogsz találni.
      </p>
      <!-- Middle content = form -->
      <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
        <app-input
          inputType="text"
          label="Email cím"
          [control]="$any(signupForm).get('email')"
        ></app-input>
        <app-input
          inputType="password"
          label="Jelszó"
          [control]="$any(signupForm).get('password')"
        ></app-input>
        <app-input
          inputType="password"
          label="Jelszó megerősítés"
          [control]="$any(signupForm).get('passwordConfirm')"
        ></app-input>

        @if($any(signupForm).get('password').touched &&
        $any(signupForm).get('passwordConfirm').touched && signupForm.errors){
        <div class="text-sm text-red-500 italic mb-3">
          @if($any(signupForm).errors?.['passwordsDontMatch']){
          <p>A két jelszó nem egyezik</p>
          }
        </div>
        <div class="text-sm text-red-500 italic mb-3">
          @if($any(signupForm).errors?.['noConnection']){
          <p>Nincs internetkapcsolat, a regisztráció sikertelen.</p>
          }
        </div>
        }

        <button
          type="submit"
          class="w-full mx-auto md:w-auto flex justify-center items-center p-6 space-x-4 font-mulish font-bold text-white rounded-xl shadow-sm px-9 bg-primaryDark shadow-primaryLight hover:bg-opacity-90 hover:shadow-lg border transition hover:translate-y-0.5 duration-150"
        >
          <span>Regisztrálok</span>
        </button>
      </form>
    </div>
    <!-- Right side -->
    <img
      src="assets/images/login-image.jpg"
      alt=""
      class="w-[430px] hidden md:block"
    />
  </div>
</div>
<app-notification-list></app-notification-list>
