NODE_ENV=development
PORT=your-port-number

MONGODB_CLUSTER_ADDRESS=your-cluster-address
MONGODB_USERNAME=your-username
MONGODB_PASSWORD=your-password

JWT_SECRET=your-jwt-secret
JWT_EXPIRES_IN=your-jwt-expiry-time-in-hours