<!-- component -->
<div class="w-screen h-screen" id="fullscreen">
  <div class="absolute inset-0">
    <img
      class="object-cover w-full h-full"
      src="https://images.unsplash.com/photo-1512486130939-2c4f79935e4f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80&sat=-100"
      alt="A computer background"
    />
    <div class="absolute inset-0 bg-indigo-700 mix-blend-multiply"></div>
  </div>
  <div class="relative" id="relative">
    <div class="px-2 py-2 mx-auto my-auto max-w-7xl md:max-h-2xl md:py-6">
      <h1 class="text-4xl text-white md:text-5xl">Ellenőrizd a postaládát</h1>
      <p class="pt-2 text-2xl text-gray-100 md:text-3xl md:pt-3">
        Meanwhile we'd love to have you get started right now, we still need you
        to verify your email. Once that's done, let the fun begin!
      </p>
      <a
        href="#"
        class="pt-2 text-xl text-gray-300 hover:text-gray-100 md:text-2xl"
        >Kattints ide ha esmét kérsz egy levelet.</a
      >
    </div>
  </div>
</div>
