extends baseEmail

block content
  p Kedves #{firstName},
  br
  p Elfelejtetted a jelszavad? 
  br
  p Kattints a lenti gombra a jelszó helyreállításához:
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Jelszó helyreállítás
  p Ha nem felejtetted el a jelszavad hagyd figyelmen kívül ezt a levelet!
