<!-- Nav container -->
<nav class="relative container mx-auto py-3 px-5 bg-gray-50">
  <!-- Flex container for All Items -->
  <div class="flex items-center justify-between">
    <!-- Flex container for the logo image-->
    <div class="flex items-center space-x-10">
      <!-- Logo -->
      <a routerLink="/" class="cursor:pointer">
        <img
          class="lg:h-16 h-12"
          src="assets/images/transparent_color_logo.svg"
          alt=""
        />
      </a>
    </div>
    <!-- Left menu -->
    <div class="font-comic font-bold text-xl">
      <ul
        nav-pills
        class="hidden lg:flex relative p-1 mb-0 list-none"
        role="tablist"
      >
        <li class="z-30 flex-auto text-center">
          <a
            routerLink="/taborok"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="block w-full py-1 transition-colors border-0 rounded-lg ease-soft-in-out bg-inherit bg-none text-bRed hover:text-gray-900"
            role="tab"
            >Táborok</a
          >
        </li>
        <li class="z-30 flex-auto text-center">
          <a
            routerLink="/taborok"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="block w-full py-1 transition-colors border-0 rounded-lg ease-soft-in-out bg-inherit bg-none text-bBlue hover:text-gray-900"
            role="tab"
            >Fórum</a
          >
        </li>
        <li class="z-30 flex-auto text-center">
          <a
            routerLink="#"
            class="block w-full py-1 transition-colors border-0 rounded-lg ease-soft-in-out bg-inherit bg-none text-bDarkGreen hover:text-gray-900"
            >Kérdőívek</a
          >
        </li>
        <li class="z-30 flex-auto text-center">
          <a
            routerLink="#"
            class="block w-full py-1 transition-colors border-0 rounded-lg ease-soft-in-out bg-inherit bg-none text-bOrange hover:text-gray-900"
            >Versenyek</a
          >
        </li>
        <li class="z-30 flex-auto text-center">
          <a
            routerLink="#"
            class="block w-full py-1 transition-colors border-0 rounded-lg ease-soft-in-out bg-inherit bg-none text-bBlue hover:text-gray-900"
            >Ócskapiac</a
          >
        </li>
        <li class="z-30 flex-auto text-center">
          <a
            routerLink="/rolunk"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="block w-full py-1 transition-colors border-0 rounded-lg ease-soft-in-out bg-inherit bg-none text-bBrown hover:text-gray-900"
            >Rólunk</a
          >
        </li>
      </ul>
    </div>
    <!-- Right Buttons Menu -->
    <div
      class="hidden items-center space-x-4 font-bold font-comic text-black text-xl lg:flex"
    >
      <div class="hover:text-veryDarkViolet">Belépés</div>
      <a
        href="#"
        class="px-4 py-3 font-bold text-white bg-primary rounded-full hover:opacity-70"
        >Regisztráció</a
      >
    </div>
    <!-- @todo Hamburger Button -->
    <button
      id="menu-btn"
      [ngClass]="{ open: menuShow }"
      class="block hamburger lg:hidden focus:outline-none"
      type="button"
      (click)="navToggle()"
    >
      <span class="hamburger-top"></span>
      <span class="hamburger-middle"></span>
      <span class="hamburger-bottom"></span>
    </button>
  </div>
  <!-- @todo Mobile menu -->
  <div
    id="menu"
    [ngClass]="{ hidden: !menuShow, flex: menuShow }"
    class="absolute p-6 rounded-lg bg-secondaryDark left-6 right-6 top-20 z-100"
  >
    <ul
      class="flex flex-col items-center justify-center w-full space-y-6 font-menu font-bold text-white rounded-sm"
    >
      <li>
        <a href="#" class="w-full text-center">Táborok</a>
      </li>
      <li>
        <a href="#" class="w-full text-center">Kérdőívek</a>
      </li>
      <li>
        <a href="#" class="w-full text-center">Versenyek</a>
      </li>
      <li class="pb-6">
        <a href="#" class="w-full text-center">Ócskapiac</a>
      </li>
      <li>
        <a href="#" class="w-full text-center pt-6 border-t border-gray-400"
          >Belépés</a
        >
      </li>
      <a href="#" class="w-full py-3 text-center rounded-full bg-cyan"
        >Regisztráció</a
      >
    </ul>
  </div>
</nav>
