<!-- Nav container -->
<nav class="relative container mx-auto p-6">
  <!-- Flex container for All Items -->
  <div class="flex items-center justify-between">
    <!-- Flex container for the logo image-->
    <div class="flex items-center space-x-10">
      <!-- Logo -->
      <img class="h-14" src="assets/images/transparent_color_logo.svg" alt="" />
      <!-- Left menu -->
      <ul class="hidden space-x-1 font-comic font-bold lg:flex text-xl">
        <li class="active px-3 py-2 rounded-xl bg-none">
          <a href="#" class="text-bRed hover:text-veryDarkViolet">Események</a>
        </li>
        <li class="px-3 py-2 rounded-xl bg-none">
          <a href="#" class="text-bDarkGreen hover:text-veryDarkViolet"
            >Kérdőívek</a
          >
        </li>
        <li class="px-3 py-2 rounded-xl bg-none">
          <a href="#" class="text-bOrange hover:text-veryDarkViolet"
            >Versenyek</a
          >
        </li>
        <li class="px-3 py-2 rounded-xl bg-none">
          <a href="#" class="text-bBlue hover:text-veryDarkViolet">Ócskapiac</a>
        </li>
      </ul>
    </div>
    <!-- Right Buttons Menu -->
    <div
      class="hidden items-center space-x-4 font-bold font-comic text-black lg:flex"
    >
      <div class="hover:text-veryDarkViolet">Belépés</div>
      <a
        href="#"
        class="px-4 py-3 font-bold text-white bg-primary rounded-full hover:opacity-70"
        >Regisztráció</a
      >
    </div>
    <!-- @todo Hamburger Button -->
    <button
      id="menu-btn"
      class="{{
        toggle === true ? 'open' : ''
      }} block hamburger lg:hidden focus:outline-none"
      type="button"
      (click)="navToggle()"
    >
      <span class="hamburger-top"></span>
      <span class="hamburger-middle"></span>
      <span class="hamburger-bottom"></span>
    </button>
  </div>
  <!-- @todo Mobile menu -->
  <div
    id="menu"
    class=" {{
      toggle === true ? 'flex' : 'hidden'
    }} absolute p-6 rounded-lg bg-darkViolet left-6 right-6 top-20 z-100"
  >
    <ul
      class="flex flex-col items-center justify-center w-full space-y-6 font-menu font-bold text-white rounded-sm"
    >
      <li>
        <a href="#" class="w-full text-center">Események</a>
      </li>
      <li>
        <a href="#" class="w-full text-center">Kérdőívek</a>
      </li>
      <li>
        <a href="#" class="w-full text-center">Versenyek</a>
      </li>
      <li class="pb-6">
        <a href="#" class="w-full text-center">Ócskapiac</a>
      </li>
      <li>
        <a href="#" class="w-full text-center pt-6 border-t border-gray-400"
          >Belépés</a
        >
      </li>
      <a href="#" class="w-full py-3 text-center rounded-full bg-cyan"
        >Regisztráció</a
      >
    </ul>
  </div>
</nav>
<app-hero></app-hero>
